@import "../css/nigth.css";

* {

    box-sizing: border-box;

    margin: 0%;
    padding: 0%;

    font-family: Georgia, 'Times New Roman', Times, serif
}

nav ul {
  list-style: none;
  overflow: hidden; 
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
nav ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
nav ul li:hover {
  background: #f5b2ef83;
}
.day {
    background-color: rgb(255, 255, 255);
    color: rgb(26, 25, 25);


}

#argollas {
    float: left;
    width: 100px;
    height: 100px;
}

.joyas2023 {
    background-color: rgb(255, 255, 255);
    display: block;
    width: auto;
    color: rgb(26, 25, 25);
    padding: auto;
    font-size: large;
    margin: center;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



#btnConstraste {
    border: 10px, red;
    border-radius: 50%;
    border-left-color: transparent;
    padding-top: 1px;
    padding-right: -88px;
    width: 88px;
    height: 80px;
}





form div {
    margin-bottom: 5px;
    color: rgb(54, 12, 121);
    width: 90%;
    border: #5e20b0;

}

form {
    position: relative;

    max-width: 400px;

    margin: 6vh auto;
    padding: 3em 3em;
    box-shadow: 0 0 20px rgb(6, 32, 65);
    min-height: 50vh;
    border-radius: 20px;
    background: transparent;
    background-image: -webkit-linear-gradient(top, #eb9494, #5e20b0);
    background-image: -moz-linear-gradient(top, #eb9494, #4620b0);
    background-image: -ms-linear-gradient(top, #eb9a94, #20b098);
    background-image: -o-linear-gradient(top, #eb9494, #8e20b0);
    background-image: linear-gradient(to bottom, #e194eb, #2046b0);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(19, 10, 41, 0.5);
}


form div>span,
form div>label,
form div>input {
    display: block;
    width: 90%;
    margin-bottom: 2px;

}

form div>label {

    margin-top: 3px;
    padding: 2px 6px;
}

form div>input,
button {
    padding: 4px 10px;
    border-radius: 3px;
    border: 1px solid #2c2a2a;
}